* {
    box-sizing: border-box;
}

:root {
    --cell-size-sm: 1.8rem;
    --cell-size-md: 2.1rem;

    --cell-size: var(--cell-size-sm);

    --font-size-xs: 0.8rem;
    --font-size-sm: 1.2rem;
    --font-size-md: 1.6rem;
    --font-size-lg: 2.0rem;
    --font-size-xl: 2.4rem;

    --grn-border: 1px solid #00ff66;
    --blue-border: 2px solid #00BFFF;
    --white-border: 1px solid #E8F1F2;
    --red-border: 2px solid #e60039;

    --border-rad-sm: 0.75rem;
    --border-rad-md: 1rem;
    --border-rad-lg: 1.25rem;

    --space0: 0.25rem;
    --space1: 0.5rem;
    --space2: 1rem;
    --space3: 1.5rem;
    --space4: 2rem;
    --space5: 2.5rem;
    --space6: 3rem;

    --grn-text: #00ff66;
    --blue-text: #00BFFF;
    --white-text: #E8F1F2;
    --red-text: #e60039;

    --blk-bground: #000000;
    --dark-grn-bground: rgba(0, 40, 20, 0.9);
    --dark-blue-bground: rgba(0, 20, 40, 0.9);
}

@keyframes pulseNeon {
    0% {
        box-shadow:
            0 0 6px rgba(0, 255, 102, 0.35),
            0 0 12px rgba(0, 255, 102, 0.25);
    }

    50% {
        box-shadow:
            0 0 14px rgba(0, 255, 102, 0.9),
            0 0 28px rgba(0, 255, 102, 0.6),
            0 0 45px rgba(0, 255, 102, 0.35);
    }

    100% {
        box-shadow:
            0 0 6px rgba(0, 255, 102, 0.35),
            0 0 12px rgba(0, 255, 102, 0.25);
    }
}

input,
button, .placement-header, .ship-info, .place-ship-form label, .level-msg, .battleship-link {
    font-family: inherit;
}

body {
    margin: 0;
    min-height: 100svh;
    background-color: var(--blk-bground);
    font-family: 'Orbitron', sans-serif;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;

    background-color: var(--blk-bground);
    background-image: url("/images/battleship-background.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}