/* Start screen styling */

.start-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space4);
    min-height: 100dvh;
}

.difficulty-options {
    display: flex;
    flex-direction: column;
    gap: var(--space2);
}

@media (min-width: 53rem) {
    .start-screen-container {
        flex-direction: row;
        align-items: center;
        gap: var(--space5);
    }
}

/* Placement screen styling */

.place-ship-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space1);
    width: 100%;
}

.ship-icons {
    display: flex;
    width: 100%;
    gap: clamp(0.1rem, 1vw, var(--space3));
    margin-top: var(--space2);
}

.place-ship-form {
    display: flex;
    gap: var(--space4);
    margin: var(--space2);
}

.ship-option {
    display: flex;
    flex-direction: column;
}

.placement-visuals {
    display: flex;
    gap: var(--space2);
}

